{% extends "common/base.html" %}

{% block titele %}ユーザー登録{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>ユーザー登録</h1>
        </div>
        <div class="col-12">
            <form method="post">

                {% csrf_token %}
                
                {{ form.as_p }}
                
                <input class="btn btn-primary" type="submit" value="登録">
            </form>
        </div>
    </div>
</div>
{% endblock %}