{% extends "common/base.html" %}

{% block titele %}TimeLine{% endblock %}

{% block content %}
<section class="container">
    <div class="row">
        <div class="col-12">
            <h1>Timeline</h1>
        </div>
    </div>
</section>

<section class="container">
    <div class="row">
        <div class="col-12">
            <a href="{% url 'tweets:create' %}">
                <i class="far fa-plus-square fa-2x text-info"></i>
            </a>
        </div>
    </div>
</section>

<section class="container mt-4">
    <div class="row">
        {% for tweet in tweets %}
        <div class="col-12">
            <div class="card mb-5">
                <div class="card-header bg-light">
                    <a href="{% url 'tweets:user_tweets' tweet.user.id %}">{{ tweet.user }}</a>
                    {{ tweet.created_at }}
                </div>
                <div class="card-body">
                    <p>{{ tweet.text }}</p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'tweets:detail' tweet.id %}"><i class="far fa-eye fa-fw"></i></a>
                    <a href="{% url 'tweets:update' tweet.id %}" ><i class="far fa-edit fa-fw text-success"></i></a>
                    <a href="{% url 'tweets:delete' tweet.id %}" ><i class="fas fa-trash fa-fw text-danger"></i></a>
                    {% if tweet.id in liked_list %}
                    <a data-action="like" data-action-url="{% url 'tweets:unlike' tweet.id %}"  role="button"><i class="fas fa-heart fa-fw text-danger"></i><span>{{ tweet.like_set.count }}</span></a>
                    {% else %}
                    <a data-action="like" data-action-url="{% url 'tweets:like' tweet.id %}" role="button"><i class="far fa-heart fa-fw"></i><span>{{ tweet.like_set.count }}</span></a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
