{% extends "common/base.html" %}

{% block titele %}TimeLine{% endblock %}

{% block content %}
<section class="container">
    <div class="row">
        <div class="col-12">
            <h1>Timeline</h1>
        </div>
    </div>
</section>

<section class="container">
    <div class="row">
        <div class="col-12">
            <a href="{% url 'tweets:create' %}">
                <i class="far fa-plus-square fa-2x text-info"></i>
            </a>
        </div>
    </div>
</section>

<section class="container mt-4">
    {% for tweet in tweets %}
    <article class="row mb-3 bg-light">
        <div class="col-12 col-md-4">
            <ul class="list-unstyled mb-0">
                <li>{{ tweet.created_at }}</li>
                <li>{{ tweet.user }}</li>
            </ul>
            <ul class="d-flex list-unstyled mb-0">
                <li><a href="{% url 'tweets:detail' tweet.id %}" class="d-block"><i class="far fa-eye fa-fw"></i></a></li>
                <li><a href="{% url 'tweets:update' tweet.id %}" class="d-block"><i class="far fa-edit fa-fw text-success"></i></a></li>
                <li><a href="{% url 'tweets:delete' tweet.id %}" class="d-block text-danger"><i class="fas fa-trash fa-fw"></i></a></li>
            </ul>
        </div>
        <div class="col-12 col-md-8">
            {{ tweet.text }}
        </div>
    </article>
    {% endfor %}
</section>
{% endblock %}
